@model IEnumerable<Drop.Web.models.DonorQuestion>

@{
    ViewData["Title"] = "Donor Questions";
}

<div>
<h1 class="col-3" style="display:inline-block;float:left">Questions</h1>
<a class="col-3 btn btn-block btn-primary" style="display:inline-block;align-content:end;float:right;margin-top:8px" asp-action="Create">Create New</a>
</div>
<p></p>

<table class="table">
    @*<thead >
        <tr style="visibility:hidden">
            <th>
                @Html.ActionLink("Question", "Index", new { sortOrder = ViewBag.QSortParm })
            </th>
            <th></th>
        </tr>
    </thead>*@
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                <a class="btn btn-outline-primary" style="width:70px" asp-action="Edit" asp-controller="DonorQuestions" asp-route-id="@item.QuestionId">Edit</a>
                @*<a asp-action="Details" asp-route-id="@item.QuestionId">Details</a> |*@
                <a class="btn btn-outline-danger" style="width:70px" asp-action="Delete" asp-route-id="@item.QuestionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
