@model IEnumerable<Drop.Web.models.Appointment>

@{
    ViewData["Title"] = "Appointments";
}

<div>
    <h1>Appointments</h1>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-10" style="margin-top:8px">
            <p>
                @Html.ActionLink("Hide/Show Past Dates", "Index", new { sortOrder = ViewBag.ShowTodayParm })
            </p>
        </div>
        <div class="col-sm-10">
            <p>
                Find by name: @Html.TextBox("SearchString")
                <input type="submit" value="Search" />
            </p>
        </div>
        @*<div class="col-sm-10">
                <p>
                    Find by date: @Html.TextBox("SearchDate")
                    <input type="submit" value="Search" />
                </p>
            </div>*@
    </div>
}
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                @Html.ActionLink("Time", "Index", new { sortOrder = ViewBag.TimeSortParm })
            </th>
            <th>
                @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                Phone Number
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Date)*@
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @string.Format("{0:(###) ###-####}", Convert.ToInt64(item.PhoneNumber))
                    @*@Html.DisplayFor(modelItem => item.PhoneNumber)*@
                </td>
                <td>
                    <a class="btn btn-outline-primary" style="width:70px" asp-action="Edit" asp-route-id="@item.AppointmentId">Edit</a>
                    @*<a asp-action="Details" asp-route-id="@item.QuestionId">Details</a> |*@
                    <a class="btn btn-outline-danger" style="width:70px" asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>
                </td>
            </tr>S
        }
    </tbody>
</table>
